{% extends 'base.html' %}
{% load static %}
{% block content %}
  <style>
    .link:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  </style>
    <div class="center teal-text">
        <h3>Sign Up Form</h3>
        <div class="row s6 offset-s6">
            <form class="col s6 offset-s3">
              <div class="row">
                <div class="input-field col s12">
                    <input oninput="onChangeInput(event)" placeholder="Placeholder" id="first_name"  name='username' type="text" class="validate" required>
                    <label for="first_name">User Name</label>
                  </div>
              </div>
              <div class="row" id = 'email'>
                <div class="input-field col s12">
                  <input oninput="onChangeInput(event)" id="password" type="password" class="validate" name='password' required>
                  <label for="password">Password</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input  oninput="onChangeInput(event)" id="email" type="email" class="validate" name='email'>
                  <label for="email">Email</label>
                </div>
              </div>
              <div class="row">
                <div class="col s12">
                <button id='submit' onclick="submitForm(event)" class="btn waves-effect waves-light"  name="action" disabled>Submit
                    <i class="material-icons right">send</i>
                </button>              
                </div>
              </div>
              <div class="row">
                <div class="col s12 link">
                  <h6>Already a User, Log in instead.</h6>
                </div>
              </div>
            </form>
          </div>
    </div>

  <script type="module" src="{% static 'frontend/api.js' %}"></script>
  <script type="module" src="{% static 'frontend/utilMethods.js' %}"></script>
  <script type='text/javascript'>
    let obj = {}
    function onChangeInput({target : {value ,name }}){
        obj[name] = value
        validFrom()
    }
    function validFrom(){
        if (Object.keys(obj).length < 3 || !document.getElementsByClassName('invalid')){
            document.getElementById('submit').disabled = true;
        } 
        else document.getElementById('submit').disabled = false;
    }

    function submitForm(event){
      event.preventDefault()
        if (!document.getElementsByClassName('invalid').length>0){
          authService.signUpUser(JSON.stringify(obj)).then(resp => {
            {
              debugger
              setItemToLocalStorage('Token',resp['token'])
            }
          })
        }
    }

</script>
{% endblock %}
