{% extends 'base.html' %} {% load static %} {% block content %}
<div class="center teal-text">
  <h3 class="title">Sign Up Form</h3>
  <h3 class="title hide">Login Form</h3>
  <div class="row s6 offset-s6">
    <form class="col s6 offset-s3">
      <div class="row">
        <div class="input-field col s12">
          <input
            oninput="onChangeInput(event)"
            placeholder="Placeholder"
            id="first_name"
            name="username"
            type="text"
            class="validate"
            required
          />
          <label for="first_name">User Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input
            oninput="onChangeInput(event)"
            id="password"
            type="password"
            class="validate"
            name="password"
            required
          />
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row" id="email">
        <div class="input-field col s12">
          <input
            oninput="onChangeInput(event)"
            id="email"
            type="email"
            class="validate"
            name="email"
          />
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <button
            id="submit"
            onclick="submitForm(event)"
            class="btn waves-effect waves-light"
            name="action"
            disabled
          >
            Submit
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col s12 link">
          <h6 id="subText1" onclick="onSwitchPage(event,'subText2')">
            Already a User, Log in instead.
          </h6>
          <h6
            class="hide"
            id="subText2"
            onclick="onSwitchPage(event,'subText1')"
          >
            Not a User, Sing Up.
          </h6>
        </div>
      </div>
    </form>
  </div>
</div>

<script type="module" src="{% static 'frontend/js/api.js' %}"></script>
<script type="module" src="{% static 'frontend/js/utilMethods.js' %}"></script>
<script
  type="text/javascript"
  src="{% static 'frontend/js/signUp.js'%}"
></script>
{% endblock %}
